* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: pink solid 1px; */
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
html {
  height: 100vh;
}
body {
  background-color: #000000f5;
  height: 100%;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.top-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 30px;
}
.profile {
  border-radius: 100%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.largefont-i {
  font-size: 25px;
  font-weight: 100;
}
.search {
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  gap: 5px;
}
.search1 input {
  width: 250px;
}
.search button,
.search input {
  background-color: transparent;
  outline: none;
  border: none;
}
nav {
  position: relative;
  height: 100%;
  max-width: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-block: 40px;
}
nav img {
  color: #fff;
}
nav ul li {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 15px;
  padding-left: 30px;
  border-radius: 7px;
  min-width: 170px;
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.log-out {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}
.log-out > * {
  color: #4b4b4b;
}
.log-out:hover > * {
  transition: 0.2s;
  color: #fa3737;
}

.pageflexer {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
}
main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.page {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #1a1a1a;
}
.active {
  background-color: #1a1a1a;
}
.marqueemain {
  display: flex;
  align-items: center;
  position: relative;
  height: 25px;
  background-color: #1a1a1a;
  margin-top: 5px;
}
.marqueemain ul {
  display: flex;
  gap: 25px;
}

.greater-than {
  color: green;
}
.less-than {
  color: red;
}

.topdashboard {
  display: flex;
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}
.bottomdashboard {
  display: flex;
  align-items: end;
  justify-content: left;
  height: 70%;
  width: 100%;
  padding-bottom: 10px;
}
.graphcontainer {
  justify-content: end;
  display: flex;
  flex-direction: column;
  background: #000;
  border-radius: 15px;
  width: 600px;
  height: 350px;
}
.graph {
  overflow: none;
  height: 400px;
  width: 100%;
}
.timeframes {
  display: flex;
  align-items: center;
  gap: 20px;
}
.timebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #1a1a1a solid 1px;
  font-size: 12px;
  border-radius: 15px;
  height: 20px;
  padding-inline: 3px;
  width: 35px;
  padding-block: 12px;
  cursor: pointer;
}
.top-graph {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
  padding-block: 10px;
  border-bottom: #1a1a1a solid 2px;
}
#cryptodropdown,
#cryptodropdown2 {
  background-color: #1a1a1a;
  width: max-content;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.fullscreen {
  cursor: pointer;
}

.chartpage {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: none;
}
.graphcontainer1 {
  align-self: flex-start;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background: #000;
  border-radius: 15px;
  width: 600px;
  height: 350px;
}

.wholepage {
  position: absolute;
  top: 0;
  left: 00;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

input {
  color: black;
}

.favorite {
  color: #a6a4a4;
}
.login_wrapper {
  background-color: red;
  height: 70%;
  width: 30%;
}
/* new crazy stuff */

.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgb(36, 41, 51);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgb(0, 115, 230);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 8px 0 14px 0;
}

.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.signup a:hover {
  text-decoration: underline rgb(0, 115, 230);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgb(0, 115, 230);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}
.home {
  position: absolute;
  top: 0;
  left: 00;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
}
.home .nav {
  position: fixed;
  top: 0;
}

.top-nav1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 30px;
}
.log:hover {
  background-color: rgb(5, 78, 151);
  transition: 0.2s;
}
.main-container {
  display: flex;
  align-items: center;
  justify-self: center;
}
.cont {
  width: 50vw;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  text-align: start;
}
.coins {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  height: 60%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.favcoinbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #000;
  text-align: center;
  position: relative;
  text-wrap: wrap;
  cursor: pointer;
  user-select: text;
}
.favcoinbox:hover {
  transition: 0.3s;
  background-color: #0073e6;
}
.star {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}
.containercoins {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coinitem {
  height: min-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 20%;
  padding: 10px;
  height: 100%;
  background-color: #000;
  border-radius: 15px;
}
.topdiv {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}
.botdiv {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}
td {
  margin-top: 15px;
}
th {
  padding: 10px;
}
.coin-image {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border-radius: 50%; /* Optional: to make it circular */
  margin-right: 10px; /* Space between image and text */
}

/*arrow*/

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: #181818; /* Dark background for the track */
  border-radius: 10px; /* Rounded corners for the track */
}

*::-webkit-scrollbar-thumb {
  background: #3d3d3d; /* Dark grey thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #181818; /* Border for padding and better visibility */
}

*::-webkit-scrollbar-thumb:hover {
  background: #555; /* Lighter grey thumb on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar width */
  scrollbar-color: #3d3d3d #181818; /* Dark grey thumb and dark background track */
}

*::-webkit-scrollbar-track {
  background-color: #181818; /* Dark background for the track */
  border-radius: 10px; /* Rounded corners for the track */
}

*::-webkit-scrollbar-thumb {
  background-color: #3d3d3d; /* Dark grey thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #181818; /* Border for padding and better visibility */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Lighter grey thumb on hover */
}

.articles {
  text-align: center;
  flex: 1 1 200px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: black;
}

#articles-container {
  display: block;
  /* flex-direction: row;
  flex-wrap: wrap; */
  gap: 10px;
  width: 100%;
  padding: 1rem;
}
#articles-container2 {
  display: block;
  /* flex-direction: row;
  flex-wrap: wrap; */
  gap: 10px;
  max-width: 600px;
  padding: 1rem;
}

.coin-selection {
}

.page2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #1a1a1a;
  align-items: center;
}
#news-dropdown {
  background-color: #1a1a1a;
  width: max-content;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.news-title {
  font-size: 20px;
  text-decoration: none;
}
